[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target
Documentation=https://docs.mongodb.org/manual

[Service]
User=root
Group=root
ExecStart=/bin/bash /gdrive/backup/yocle/yocle_backup.sh

[Install]
WantedBy=multi-user.target
